<header id="welcome" class='header'>
  <section class="container">
    <img class="header__logo" src="{{logo}}">
    <h1 class="header__title">{{title}}</h1>
    <p class="header__description">
      {{description}}
      <br>
      <i>
	<small>{{subDescription}}</small>
      </i>
    </p>
    <a class="button" href="#blog">{{btnMessage}}</a>
  </section>
</header>
